<?xml version="1.0"?>
<launch>

	<node name="stairsdetection" pkg="ros_stairsdetection" type="stairsdetection" output="screen">
		<param name="input" value="/camera/depth_registered/points" />
		<param name="steps" value="/hmmwv/steps" />
		<param name="stairways" value="/hmmwv/stairways" />
		<param name="camera_frame" value="camera_link" />
		<param name="robot_frame" value="base_link" />
		<param name="world_frame" value="world" />
		<param name="namespace" value="hmmwv" />
		<param name="publish_steps" value="true" />
                <param name="publish_stairways" value="false" />

		<param name="segmentation_iterations" value="1000" />
		<param name="segmentation_threshold" value="0.01" />
		<param name="min_step_num_points" value="40" />
		<param name="max_step_num_points" value="10000" />
		<param name="min_step_depth" value="0.1" />
		<param name="max_step_depth" value="10.0" />
		<param name="min_step_width" value="0.3" />
		<param name="max_step_width" value="10.0" />
		<param name="min_step_height" value="0.0" />
		<param name="max_step_height" value="10.0" />
	</node>
        
        <node pkg="tf" type="static_transform_publisher" name="world_to_robot_pub" args="0 0 0.0 0 0.0 0 world base_link 100"/>
        <node pkg="tf" type="static_transform_publisher" name="robot_to_cam_pub" args="0 0 0.5 0 0.707 0 base_link camera_link 100"/>

</launch>
